sudo: false
cache: bundler
language: ruby
rvm:
- 2.1.0
script:
- bundle exec rake
notifications:
  email:
    recipients:
    - sky4winder+githubchangeloggenerator@gmail.com
    on_success: never
    on_failure: change
addons:
  code_climate:
    repo_token:
      secure: iMpV5IAvH+/EVGZrpWnt2BnmNFzSbsRcIumsr4ZyLC8N5nrCSXyjCSy0g48btL3Sj0bSgK9hcrJsmrFd2bkqFleyAcPAzNyUQzBuIRZx47O8yFmbZ+Pj+l3+KOlmcbzJNHfDfxkxuWTmTAcSDfsiyApin721T/ey3SUuwKpZNUc=
