---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/skywinder/changelog_test/issues?state=closed&filter=all&labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '46'
      x-ratelimit-reset:
      - '1463684440'
      etag:
      - W/"9c9157acb59215fa6a50f2b36660cad0"
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/skywinder/changelog_test/issues/21","repository_url":"https://api.github.com/repos/skywinder/changelog_test","labels_url":"https://api.github.com/repos/skywinder/changelog_test/issues/21/labels{/name}","comments_url":"https://api.github.com/repos/skywinder/changelog_test/issues/21/comments","events_url":"https://api.github.com/repos/skywinder/changelog_test/issues/21/events","html_url":"https://github.com/skywinder/changelog_test/pull/21","id":124925759,"number":21,"title":"Merged
        br (should appear in change log with  #20)","user":{"login":"skywinder","id":3356474,"avatar_url":"https://avatars.githubusercontent.com/u/3356474?v=3","gravatar_id":"","url":"https://api.github.com/users/skywinder","html_url":"https://github.com/skywinder","followers_url":"https://api.github.com/users/skywinder/followers","following_url":"https://api.github.com/users/skywinder/following{/other_user}","gists_url":"https://api.github.com/users/skywinder/gists{/gist_id}","starred_url":"https://api.github.com/users/skywinder/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/skywinder/subscriptions","organizations_url":"https://api.github.com/users/skywinder/orgs","repos_url":"https://api.github.com/users/skywinder/repos","events_url":"https://api.github.com/users/skywinder/events{/privacy}","received_events_url":"https://api.github.com/users/skywinder/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"milestone":null,"comments":0,"created_at":"2016-01-05T09:24:08Z","updated_at":"2016-01-05T09:26:53Z","closed_at":"2016-01-05T09:24:27Z","pull_request":{"url":"https://api.github.com/repos/skywinder/changelog_test/pulls/21","html_url":"https://github.com/skywinder/changelog_test/pull/21","diff_url":"https://github.com/skywinder/changelog_test/pull/21.diff","patch_url":"https://github.com/skywinder/changelog_test/pull/21.patch"},"body":"to
        test https://github.com/skywinder/github-changelog-generator/pull/305\r\nshould
        appear in change log with #20"},{"url":"https://api.github.com/repos/skywinder/changelog_test/issues/20","repository_url":"https://api.github.com/repos/skywinder/changelog_test","labels_url":"https://api.github.com/repos/skywinder/changelog_test/issues/20/labels{/name}","comments_url":"https://api.github.com/repos/skywinder/change[...]
