---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/skywinder/changelog_test/pulls?state=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '47'
      x-ratelimit-reset:
      - '1463684440'
      etag:
      - W/"4426fe7d822a1f11ac1c207ed0265caa"
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/skywinder/changelog_test/pulls/21","id":55069652,"html_url":"https://github.com/skywinder/changelog_test/pull/21","diff_url":"https://github.com/skywinder/changelog_test/pull/21.diff","patch_url":"https://github.com/skywinder/changelog_test/pull/21.patch","issue_url":"https://api.github.com/repos/skywinder/changelog_test/issues/21","number":21,"state":"closed","locked":false,"title":"Merged
        br (should appear in change log with  #20)","user":{"login":"skywinder","id":3356474,"avatar_url":"https://avatars.githubusercontent.com/u/3356474?v=3","gravatar_id":"","url":"https://api.github.com/users/skywinder","html_url":"https://github.com/skywinder","followers_url":"https://api.github.com/users/skywinder/followers","following_url":"https://api.github.com/users/skywinder/following{/other_user}","gists_url":"https://api.github.com/users/skywinder/gists{/gist_id}","starred_url":"https://api.github.com/users/skywinder/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/skywinder/subscriptions","organizations_url":"https://api.github.com/users/skywinder/orgs","repos_url":"https://api.github.com/users/skywinder/repos","events_url":"https://api.github.com/users/skywinder/events{/privacy}","received_events_url":"https://api.github.com/users/skywinder/received_events","type":"User","site_admin":false},"body":"to
        test https://github.com/skywinder/github-changelog-generator/pull/305\r\nshould
        appear in change log with #20","created_at":"2016-01-05T09:24:08Z","updated_at":"2016-01-05T09:26:53Z","closed_at":"2016-01-05T09:24:27Z","merged_at":"2016-01-05T09:24:27Z","merge_commit_sha":"48de6bd90d839c8fbe377c499d6d093a26f83f39","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/skywinder/changelog_test/pulls/21/commits","review_comments_url":"https://api.github.com/repos/skywinder/changelog_test/pulls/21/comments","review_comment_url":"https://api.github.com/repos/skywinder/changelog_test/pulls/comments{/number}","comments_url":"https://api.github.com/repos/skywinder/changelog_test/issues/21/comments","statuses_url":"https://api.github.com/repos/skywinder/changelog_test/statuses/2158d5c58a694086fabfffb72632ccadc004cb46","head":{"label":"skywinder:test_br","ref":"test_br","sha":"2158d5c58a694086fabfffb72632ccadc004cb46","user":{"login":"skywinder","id":3356474,"avatar_url":"https://avatars.githubusercontent.com/u/3356474?v=3","gravatar_id":"","url":"https://api.github.com/users/skywinder","html_url":"https://github.com/skywinder","followers_url":"https://api.github.com/users/skywinder/followers","following_url":"https://api.github.com/users/skywinder/following{/other_user}","gists_url":"https://api.github.com/users/skywinder/gists{/gist_id}","starred_url":"https://api.github.com/users/skywinder/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/skywinder/subscriptions","organizations_url":"https://api.github.com/users/skywinder/orgs","repos_url":"https://api.github.com/users/skywinder/repos","events_url":"https://api.github.com/users/skywinder/events{/privacy}","received_events_url":"https://api.github.com/users/skywinder/received_events","type":"User","site_admin":false},"repo":{"id":31668302,"name":"changelog_test","full_name":"skywinder/changelog_test","owner":{"login":"skywinder","id":3356474,"avatar_url":"https://avatars.githubusercontent.com/u/3356474?v=3","gravatar_id":"","url":"https://api.github.com/users/skywinder","html_url":"https://github.com/skywinder","followers_url":"https://api.github.com/users/skywinder/followers","following_url":"https://api.github.com/users/skywinder/following{/other_user}","gists_url":"https://api.github.com/users/skywinder/gists{/gist_id}","starred_url":"https://api.github.com/users/skywinder/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/skywinder/subscriptions","organizations_url":"https://api.github.com/users/skywinder/orgs","repos_url":"https://api.github.com/users/skywinder/repos","events_url":"https://api.github.com/users/skywinder/events{/privacy}","received_events_url":"https://api.github.com/users/skywinder/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/skywinder/changelog_test","description":"Test
        repo for GitHubChangelogGenerator","fork":false,"url":"https://api.github.com/repos/skywinder/changelog_test","forks_url":"https://api.github.com/repos/skywinder/changelog_test/forks","keys_url":"https://api.github.com/repos/skywinder/changelog_test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/skywinder/changelog_test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/skywinder/changelog_test/teams","hooks_url":"https://api.github.com/repos/skywinder/changelog_test/hooks","issue_events_url":"https://api.github.com/repos/skywinder/changelog_test/issues/events{/number}","events_url":"https://api.github.com/repos/skywinder/changelog_test/events","assignees_url":"https://api.github.com/repos/skywinder/changelog_test/assignees{/user}","branches_url":"https://api.github.com/repos/skywinder/changelog_test/branches{/branch}","tags_url":"https://api.github.com/repos/skywinder/changelog_test/tags","blobs_url":"https://api.github.com/repos/skywinder/changelog_test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/skywinder/changelog_test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/skywinder/changelog_test/git/refs{/sha}","trees_url":"https://api.github.com/repos/skywinder/changelog_test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/skywinder/changelog_test/statuses/{sha}","languages_url":"https://api.github.com/repos/skywinder/changelog_test/languages","stargazers_url":"https://api.github.com/repos/skywinder/changelog_test/stargazers","contributors_url":"https://api.github.com/repos/skywinder/changelog_test/contributors","subscribers_url":"https://api.github.com/repos/skywinder/changelog_test/subscribers","subscription_url":"https://api.github.com/repos/skywinder/changelog_test/subscription","commits_url":"https://api.github.com/repos/skywinder/changelog_test/commits{/sha}","git_commits_url":"https://api.github.com/repos/skywinder/changelog_test/git/commits{/sha}","comments_url":"https://api.github.com/repos/skywinder/changelog_test/comments{/number}","issue_comment_url":"https://api.github.com/repos/skywinder/changelog_test/issues/comments{/number}","contents_url":"https://api.github.com/repos/skywinder/changelog_test/contents/{+path}","compare_url":"https://api.github.com/repos/skywinder/changelog_test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/skywinder/changelog_test/merges","archive_url":"https://api.github.com/repos/skywinder/changelog_test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/skywinder/changelog_test/downloads","issues_url":"https://api.github.com/repos/skywinder/changelog_test/issues{/number}","pulls_url":"https://api.github.com/repos/skywinder/changelog_test/pulls{/number}","milestones_url":"https://api.github.com/repos/skywinder/changelog_test/milestones{/number}","notifications_url":"https://api.github.com/repos/skywinder/changelog_test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/skywinder/changelog_test/labels{/name}","releases_url":"https://api.github.com/repos/skywinder/changelog_test/releases{/id}","deployments_url":"https://api.github.com/repos/skywinder/changelog_test/deployments","created_at":"2015-03-04T16:53:42Z","updated_at":"2015-03-05T10:27:55Z","pushed_at":"2016-01-05T10:09:37Z","git_url":"git://github.com/skywinder/changelog_test.git","ssh_url":"git@github.com:skywinder/changelog_test.git","clone_url":"https://github.com/skywinder/changelog_test.git","svn_url":"https://github.com/skywinder/changelog_test","homepage":"","size":10,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"open_issues_count":0,"forks":1,"open_issues":0,"watchers":0,"default_branch":"master"}},"base":{"label":"skywinder:master","ref":"master","sha":"68f45a7a0b9920c7e7461d0df7030ed7f51adc88","user":{"login":"skywinder","id":3356474,"avatar_url":"https://avatars.githubusercontent.com/u/3356474?v=3","gravatar_id":"","url":"https://api.github.com/users/skywinder","html_url":"https://github.com/skywinder","followers_url":"https://api.github.com/users/skywinder/followers","following_url":"https://api.github.com/users/skywinder/following{/other_user}","gists_url":"https://api.github.com/users/skywi[...]
