{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/skywinder/changelog_test/tags?access_token=0000000000000000","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["token 0000000000000000"]}},"response":{"status":{"code":401,"message":null},"headers":{"content-type":["application/json; charset=utf-8"], "status":["401 Unauthorized"], "x-github-media-type":["github.v3; format=json"], "x-ratelimit-limit":["60"], "x-ratelimit-remaining":["55"], "x-ratelimit-reset":["1463728508"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiQmFkIGNyZWRlbnRpYWxzIiwiZG9jdW1lbnRhdGlvbl91\ncmwiOiJodHRwczovL2RldmVsb3Blci5naXRodWIuY29tL3YzIn0=\n"},"http_version":null},"recorded_at":"Fri, 20 May 2016 06:39:20 GMT"}],"recorded_with":"VCR 3.0.1"}